/* Game screen text elements */
.timer {
  font-size: 2.5rem;
  font-weight: bold;
}

.target-time .score-streak-container {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.result-msg,
.time-difference-msg {
  font-size: 1.1rem;
  margin-top: 1rem;
}
