#multiplayer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#coming-soon {
  font-size: 4rem;
  font-weight: bold;
  color: #ff0000;
  text-align: center;
  text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 20px #ff0000,
    0 0 40px #ff0033, 0 0 80px #ff0066;
  font-family: "Orbitron", sans-serif;
  animation: neon-glow-red 2s infinite;
}

@keyframes neon-glow-red {
  0% {
    text-shadow: 0 0 5px #ff1a1a, 0 0 10px #ff1a1a, 0 0 20px #ff1a1a,
      0 0 40px #ff0000;
    transform: scale(1);
  }
  50% {
    text-shadow: 0 0 10px #ff1a1a, 0 0 20px #ff1a1a, 0 0 40px #ff1a1a,
      0 0 80px #ff0000;
    transform: scale(1.1);
  }
  100% {
    text-shadow: 0 0 5px #ff1a1a, 0 0 10px #ff1a1a, 0 0 20px #ff1a1a,
      0 0 40px #ff0000;
    transform: scale(1);
  }
}
